{% extends 'home.html' %}

{% block content %}
<h1>All ads</h1>

{% for ad in ads %}
    <a href="{% url 'car_ad_detail' ad.pk %}" style="text-decoration: none; color: inherit;">
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <h2>{{ ad.brand }} {{ ad.model }} - {{ ad.title }}</h2>
            <p>{{ ad.description }}</p>
            {% if ad.image %}
                <img src="{{ ad.image.url }}" alt="Car Image" style="max-width: 300px;">
            {% endif %}
            <p><strong>Price:</strong> {{ ad.price }} лв</p>
        </div>
    </a>
{% empty %}
    <p>No ads published.</p>
{% endfor %}
{% endblock %}
