{% block content %}
  <h2>{{ ad.brand }} {{ ad.model }}</h2>

  {% if ad.image %}
      <img src="{{ ad.image.url }}" alt="Car Image" style="max-width: 400px;">
  {% endif %}

  <p><strong>Price:</strong> {{ ad.price }} лв.</p>
  <p><strong>Description:</strong> {{ ad.description }}</p>
  <p><strong>Year:</strong> {{ ad.year }}</p>
  <p><strong>Owner:</strong> {{ ad.owner.username }}</p>

  {% if user == ad.owner or user.is_superuser %}
    <a href="{% url 'edit_ad' ad.pk %}">Edit</a>
    <a href="{% url 'delete_ad' ad.pk %}">Delete</a>
  {% endif %}

    <form action="{% url 'toggle_favorite' ad.pk %}" method="post" style="display:inline;">
      {% csrf_token %}
      {% if is_favorite %}
        <button type="submit">Remove from Favorites </button>
      {% else %}
        <button type="submit">Add to Favorites </button>
      {% endif %}
    </form>

  <br><br>
  <a href="{% url 'home' %}">Go back</a>
{% endblock %}